<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Binary Tree App - Home</title>
    <!-- Uses the Bahunya style sheet, see https://hakanalpay.com/bahunya/ -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css"
    />
</head>
<body>
    <h1>Binary Tree App</h1>
    <h4>Lauren Wilson &bull; Summer 2024</h4>
    <a href="enter-numbers">Click here to create a new tree</a><br />
    <a href="previous-trees">Click here to browse previously created trees</a>
</body>
</html>